.about {
  padding-top: 90px;

  &__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;

    @media (max-width: 840px) {
      flex-direction: column;
    }
  }

  &__image {
    width: 300px;
    height: auto;
  }

  &__title {
    margin-bottom: 40px;
    font-family: "Ubuntu", Arial;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 4px;
  }

  &__list-item {
    position: relative;
    max-width: 500px;
    height: 70px;
    margin-bottom: 20px;
    padding: 30px 20px 0 100px;
    font-size: 18px;
    letter-spacing: 4px;
    border-radius: 70px;
    background: $colorBlue;
    background: linear-gradient(180deg, rgba(60,108,168,0.2) -30%, rgba(234,178,187,1) 80%);

    @media (max-width: 720px) {
      margin-left: 20px;
    }

    @media (max-width: 500px) {
      margin-bottom: 40px;
      padding: 30px 10px 0 90px;
      font-size: 16px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -20px;
      width: 90px;
      height: 90px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &--first {
      &::before {
        background-image: url(../styles/icons/clock.svg);
      }
    }

    &--second {
      &::before {
        background-image: url(../styles/icons/message.svg);
      }
    }

    &--third {
      &::before {
        background-image: url(../styles/icons/star.svg);
      }
    }

    &--fourth {
      &::before {
        background-image: url(../styles/icons/smile.svg);
      }
    }

    &--fifth {
      &::before {
        background-image: url(../styles/icons/money-bag.svg);
      }
    }
  }
}
