.button-order {
  display: none;

  @media (max-width: 710px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 30px 0;
    padding: 10px 20px;
    align-items: center;
    background-color: $colorWhite;
    border-radius: 45px;
  }

  &__button-text {
    width: 90%;
    font-family: "Ubuntu";
    font-size: 20px;
    text-align: center;
    letter-spacing: 5px;
    color: $colorRose;
  }

  &__buttons-icons {
    display: flex;
    gap: 20px;
  }

  &__icon {
    display: block;
    width: 60px;
    height: 60px;
    line-height: 0;
    background-size: contain;

    &--instagram-rose {
      background-image: url(../styles/icons/instagram-rose.svg);
    }

    &--telegram-rose {
      background-image: url(../styles/icons/telegram-rose.svg);
    }
  }
}
