.header {
  position: relative;
  min-height: 100dvh;

  &__nav-wrapper {
    position: fixed;
    width: 100%;
    background: $colorBlue;
    background: linear-gradient(180deg, rgba(60,108,168,1) -30%, rgba(234,178,187,1) 80%);
    z-index: 10;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    height: 90px;
    line-height: 90px;
    margin: 0 auto;
    padding: 0 30px;
  }

  &__nav-left {
    display: flex;
    gap: 100px;

    @media (max-width: 680px) {
      display: none;
    }

    @media (max-width: 850px) {
      gap: 50px;
    }
  }

  &__burger-icon {
    display: none;
    width: 30px;
    height: 30px;
    background-image: url(../styles/icons/burger_icon.svg);
    background-size: contain;

    @media (max-width: 680px) {
      display: block;
    }
  }

  &__link {
    position: relative;
    font-size: 24px;
    color: $colorWhite;

    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: $colorWhite;
      transform: scaleX(0);
      transition: transform $smoothTime;
    }

    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }
  }

  &__nav-right {
    display: flex;
    gap: 30px;
  }

  &__icon {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 0;
    background-size: contain;
    transition: transform $smoothTime;

    &:hover {
      transform: scale(1.1);
    }

    &--instagram {
      background-image: url(../styles/icons/instagram.svg);
    }

    &--telegram {
      background-image: url(../styles/icons/telegram.svg);
    }

    &--instagram-rose {
      background-image: url(../styles/icons/instagram-rose.svg);
    }

    &--telegram-rose {
      background-image: url(../styles/icons/telegram-rose.svg);
    }

    &--big {
      width: 60px;
      height: 60px;
    }
  }

  @keyframes move-m {
    from {
      transform: scale(100%);
    }
    50% {
      transform: scale(93%);
    }
    to {
      transform: scale(100%);
    }
  }

  &__content-wrapper {
    position: relative;
    top: 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
    max-width: 1300px;
    height: calc(100dvh - 90px);
    margin: 0 auto;
    overflow: hidden;

    @media (max-width: 1299px) {
      padding: 0 30px;
    }
  }

  &__star {
    position: absolute;
    top: 35%;
    left: calc(45% - 10vw);
    width: 500px;
    height: 500px;
    background-image: url(../images/star.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;

    @media (max-width: 550px) {
      left: calc(45% - 10vw);
    }
  }

  &__letter-M {
    position: absolute;
    top: 0;
    right: 0;
    width: 64vh;
    // width: 477px;
    // height: 600px;
    height: 80vh;
    background-image: url(../images/m.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    // transition: transform 4000ms linear;
    animation: move-m 10s infinite ease-in-out;
    // animation: move-m 10s infinite cubic-bezier(0.7, 0, 0.7, 1);
    // animation: move-m 10s infinite linear;

    @media (max-width: 790px) {
      width: 50%;
      right: 10px;
    }
  }

  &__title {
    display: inline;
    // display: flex;
    // justify-content: center;
    // padding: 0 20px;
    margin-top: -50px;
    // margin-bottom: 20px;
    font-family: "SK Cuber Expanded Rounded Outline", serif;
    font-size: 68px;
    text-align: center;
    color: $colorWhite;

    @media (max-width: 1270px) {
      text-align: left;
    }

    @media (max-width: 909px) {
      width: 450px;
      font-size: 50px;
      // font-weight: bold;
    }

    @media (max-width: 400px) {
      font-size: 40px;
    }
  }

  &__title-span {
    margin-left: -30px;

    @media (max-width: 909px) {
      margin: 0;
    }
  }

  &__subtitle {
    // margin-bottom: 50px;
    // padding-left: 30px;
    font-family: "SK Cuber Expanded Rounded", serif;
    font-size: 50px;
    font-weight: 400;
    color: $colorBlue;

    @media (max-width: 909px) {
      font-size: 30px;
    }

    @media (max-width: 400px) {
      font-size: 25px;
    }
  }

  &__text {
    // margin-bottom: 50px;
    font-size: 35px;
    letter-spacing: 10px;
    // color: $colorWhite;

    @media (max-width: 909px) {
      font-size: 20px;
    }
  }

  &__buttons {
    display: flex;
    gap: 20px;
    padding: 0 40px;
    align-items: center;
    width: max-content;
    height: 90px;
    background-color: $colorWhite;
    border-radius: 45px;

    @media (max-width: 710px) {
      display: none;
    }
  }

  &__buttons-text {
    width: 400px;
    font-family: "Ubuntu";
    font-size: 20px;
    text-align: center;
    letter-spacing: 5px;
    color: $colorRose;
  }

  &__buttons-icons {
    display: flex;
    gap: 20px;
  }
}
