.header {
  position: relative;

  &__nav-wrapper {
    position: fixed;
    top: 0;
    width: 100vw;
    background: $colorBlue;
    background: linear-gradient(180deg, rgba(60,108,168,1) -30%, rgba(234,178,187,1) 80%);
  }

  &__nav {
    margin: 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }

  &__nav-left {
    display: flex;
    gap: 100px;
  }

  &__link {
    position: relative;
    font-size: 24px;
    color: $colorWhite;

    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: $colorWhite;
      transform: scaleX(0);
      transition: transform $smoothTime;
    }

    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }
  }

  &__nav-right {
    display: flex;
    gap: 30px;
  }

  &__icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 0;
    background-size: contain;
    transition: transform $smoothTime;

    &:hover {
      transform: scale(1.1);
    }

    &--instagram {
      background-image: url(../styles/icons/instagram.svg);
    }

    &--telegram {
      background-image: url(../styles/icons/telegram.svg);
    }

    &--instagram-rose {
      background-image: url(../styles/icons/instagram-rose.svg);
    }

    &--telegram-rose {
      background-image: url(../styles/icons/telegram-rose.svg);
    }

    &--big {
      width: 60px;
      height: 60px;
    }
  }

  &__star {
    position: absolute;
    top: 35%;
    left: 40%;
    width: 500px;
    height: 500px;
    background-image: url(../images/star.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
  }

  &__letter-M {
    position: absolute;
    top: 15px;
    right: 30px;
    width: 477px;
    height: 600px;
    background-image: url(../styles/icons/m-small.png);
    z-index: -1;
    transition: transform 4000ms linear;
 // animation: move-m 8s infinite linear;
  }

  // @keyframes move-m {
  //   from {
  //     transform: scale(100%);
  //   }
  //   50% {
  //     transform: scale(90%);
  //   }
  //   to {
  //     transform: scale(100%);
  //   }
  // }

  &__content-wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 20px;
    font-family: "SK Cuber Expanded Rounded Outline", serif;
    font-size: 10vmin;
    color: $colorWhite;
  }

  &__subtitle {
    margin-bottom: 50px;
    font-family: "SK Cuber Expanded Rounded", serif;
    font-size: 50px;
    color: $colorBlue;
  }

  &__text {
    margin-bottom: 50px;
    font-size: 35px;
    letter-spacing: 10px;
    color: $colorWhite;
  }

  &__buttons {
    position: relative;
    display: flex;
    gap: 20px;
    padding: 0 40px;
    align-items: center;
    width: max-content;
    height: 90px;
    background-color: $colorWhite;
    border-radius: 45px;
  }

  &__buttons-text {
    width: 400px;
    font-family: "Ubuntu";
    font-size: 20px;
    text-align: center;
    letter-spacing: 5px;
    color: $bg-color;
  }
}
