.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100dvh;
  padding: 30px;
  background-color: $colorDarkBlue;
  transform: translateX(-100%);
  transition: transform $smoothTime linear;
  z-index: 20;

  &:target {
    transform: translateX(0);
  }

  &__close-icon {
    display: block;
    width: 30px;
    height: 30px;
    margin-bottom: 60px;
    background-image: url(../styles/icons/close.svg);
    background-size: contain;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 60px;
  }

  &__link {
    font-size: 26px;
  }

  &__buttons-icons {
    display: flex;
    gap: 40px;
  }

  &__icon {
    width: 70px;
    height: 70px;
    background-size: contain;

    &--instagram {
      background-image: url(../styles/icons/instagram.svg);
    }

    &--telegram {
      background-image: url(../styles/icons/telegram.svg);
    }
  }
}
