.order {
  padding: 80px 0;

  &__wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
  }

  &__title {
    margin-bottom: 20px;
    font-family: "SK Cuber Expanded", serif;
    font-weight: 400;
    font-size: 5vw;

    @media (min-width: 1600px) {
      font-size: 72px;
    }
  }

  &__text-order {
    margin-bottom: 20px;
    font-family: "Ubuntu italic", serif;
    font-size: 4vw;
    font-weight: bold;

    @media (max-width: 800px) {
      font-size: 8vw;
    }
  }

  &__text-more {
    margin-bottom: 40px;
    font-size: 4vw;

    @media (max-width: 800px) {
      font-size: 8vw;
    }
  }

  &__icons {
    display: flex;
    gap: 50px;
    margin-bottom: 120px;
  }

  &__icon {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform $smoothTime;

    @media (max-width: 1000px) {
      width: 20vw;
      height: 20vw;
    }

    &:hover {
      transform: scale(1.1);
    }

    &--instagram {
      background-image: url(../styles/icons/instagram.svg);
    }

    &--telegram {
      background-image: url(../styles/icons/telegram.svg);
    }
  }

  &__papers {
    display: flex;
    justify-content: space-between;
    gap: 0;

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      // display: block;
    }
  }

  &__paper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 600px;
    height: 750px;
    padding: 60px 20px 60px 180px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: 600px) {
      // box-sizing: content-box;
      width: 340px;
      // width: 95%;
      height: 550px;
      padding: 50px 0 60px 80px;
      background-size: 340px 550px;
    }

    &--left {
      background-image: url(../images/paper-1.webp);
    }

    &--right {
      background-image: url(../images/paper-2.webp);
    }
  }

  &__papers-title {
    position: relative;
    margin-bottom: 20px;
    font-family: "JustBreathe", serif;
    font-size: 60px;
    color: $colorBlue;

    @media (max-width: 600px) {
      margin-bottom: 10px;
      font-size: 30px;
    }

    &::before {
      position: absolute;
      content: "";
      top: 10px;
      left: -90px;
      width: 60px;
      height: 60px;
      background-repeat: no-repeat;
      background-size: contain;

      @media (max-width: 600px) {
        top: 5px;
        left: -60px;
        width: 30px;
        height: 30px;
      }
    }

    &--first {
      &::before {
        background-image: url(../styles/icons/circle1.svg);
      }
    }

    &--second {
      &::before {
        background-image: url(../styles/icons/circle2.svg);
      }
    }

    &--third{
      &::before {
        background-image: url(../styles/icons/circle4.svg);
      }
    }

    &--fourth {
      &::before {
        background-image: url(../styles/icons/circle1.svg);
      }
    }
  }

  &__papers-text {
    margin-bottom: 20px;
    margin-right: 80px;
    font-family: "Pecita", serif;
    font-size: 26px;
    color: $colorBlue;

    @media (max-width: 600px) {
      font-size: 22px;
      margin-right: 20px;
    }
  }

  &__papers-promokod {
    font-family: "Ubuntu", serif;
    font-size: 26px;
    color: $colorBlue;

    @media (max-width: 600px) {
      font-size: 20px;
    }
  }
}
