.price {
  padding-top: 90px;
  padding-bottom: 70px;

  &__wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    font-size: 5vw;
    font-weight: normal;

    @media (max-width: 1000px) {
      font-size: 8vw;
    }

    @media (min-width: 1600px) {
      font-size: 90px;
    }
  }

  &__title-full {
    font-family: "SK Cuber Expanded", serif;
  }

  &__title-outline {
    font-family: "SK Cuber Expanded Rounded Outline", serif;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    overflow: hidden;
  }

  &__item {
    box-sizing: border-box;
    position: relative;
    width: 31%;
    padding: 40px 30px;
    background-color: $colorDarkRose;
    border-radius: 50px;

    @media (max-width: 1340px) {
      width: 45%;
    }

    @media (max-width: 940px) {
      box-sizing: content-box;
      max-width: 400px;
      width: 80%;
    }
  }

  &__item-title {
    margin-bottom: 30px;
    font-family: "Ubuntu", Arial;
    font-size: 34px;
    color: $colorBlue;
  }

  &__item-note {
    margin-top: 20px;
    font-family: "Ubuntu", Arial;
    font-size: 15px;

    &--star {
      position: relative;
      margin-top: -15px;
      margin-left: 20px;
      margin-bottom: 30px;

      &::before {
        content: '';
        position: absolute;
        top: -2px;
        left: -30px;
        width: 25px;
        height: 25px;
        background-image: url(../styles/icons/mini-star.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  &__item-text {
    font-family: "Ubuntu", Arial;
    font-size: 22px;
    font-weight: bold;

    &--last {
      margin-bottom: 100px;
    }
  }

  &__item-cost {
    margin-bottom: 40px;
    font-family: "SK Cuber Expanded", serif;
    font-size: 50px;
    line-height: 40px;
  }

  &__link {
    position: relative;
    margin-top: 20px;
  }

  &__icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(../styles/icons/instagram.svg);
    background-size: contain;
    transition: transform $smoothTime;
    z-index: 2;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__arrow {
    display: inline-block;
    margin-left: 20px;
    width: 50px;
    height: 35px;
    background-image: url(../styles/icons/arrow-small.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__arrow-huge {
    position: absolute;
    top: -125px;
    left: 60px;
    width: 350px;
    height: 200px;
    background-image: url(../styles/icons/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}
