.price {
  padding-top: 90px;

  &__wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 110px;
  }

  &__title-full {
    font-family: "SK Cuber Expanded", serif;
    font-size: 90px;
    line-height: 45px;
    font-weight: 400;
  }

  &__title-outline {
    font-family: "SK Cuber Expanded Rounded Outline", serif;
    font-size: 90px;
    line-height: 45px;
    font-weight: 400;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
  }

  &__item {
    width: 25%;
    // height: max-content;
    padding: 40px;
    background-color: $colorDarkRose;
    border-radius: 50px;
  }

  &__item-title {
    margin-bottom: 30px;
    font-family: "Ubuntu", Arial;
    font-size: 34px;
    color: $colorBlue;
  }

  &__item-note {
    margin-top: 20px;
    font-family: "Ubuntu", Arial;
    font-size: 15px;

    &--star {
      position: relative;
      margin-top: -15px;
      margin-left: 20px;
      margin-bottom: 30px;

      &::before {
        content: '';
        position: absolute;
        top: -2px;
        left: -30px;
        width: 25px;
        height: 25px;
        background-image: url(../styles/icons/mini-star.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  &__item-text {
    font-family: "Ubuntu", Arial;
    font-size: 22px;
    font-weight: bold;
  }

  &__item-cost {
    margin-bottom: 40px;
    font-family: "SK Cuber Expanded", serif;
    font-size: 50px;
    line-height: 40px;
  }

  &__link {
    position: relative;
    margin-top: 20px;
  }

  &__icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(../styles/icons/instagram.svg);
    background-size: contain;
    transition: transform $smoothTime;
    z-index: 2;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__arrow {
    display: inline-block;
    margin-left: 20px;
    width: 50px;
    height: 35px;
    background-image: url(../styles/icons/arrow-small.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__arrow-huge {
    position: absolute;
    top: -100px;
    left: 25px;
    width: 350px;
    height: 200px;
    // background-image: url(../styles/icons/arrow-huge2.svg);
    // background-size: contain;
    // background-repeat: no-repeat;
    z-index: 0;
  }
}
