.testimonial {
  position: relative;
  height: 2200px;
  padding-top: 90px;
  background: linear-gradient($colorLightBlue, 93%, $colorRose);

  @media (max-width: 1130px) {
    height: 170vw;
  }

  @media (max-width: 800px) {
    height: 430vw;
  }

  &__wrapper {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 40px;
    text-align: center;
    font-family: "SK Cuber Expanded Rounded Outline", serif;
    font-weight: 400;
    color: $colorRose;
    font-size: 5vw;

    @media (max-width: 1000px) {
      font-size: 8vw;
    }

    @media (min-width: 1600px) {
      font-size: 90px;
    }
  }

  &__text {
    margin-bottom: 40px;
    text-align: center;
    font-family: "Ubuntu", Arial;
    font-size: 22px;
    color: $colorRose;

    @media (max-width: 500px) {
      font-size: 18px;
    }
  }

  &__buble {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;

    @media (max-width: 1300px) {
      display: none;
    }

    &--first {
      top: 320px;
      left: -20px;
      width: 420px;
      height: 410px;
      background-image: url(../images/buble-1.png);
      animation: move-buble 10s infinite ease-in-out;
    }

    &--second {
      top: 730px;
      left: 600px;
      width: 120px;
      height: 120px;
      background-image: url(../images/buble-2.png);
      animation: move-buble 8s infinite ease-in-out;
    }

    &--third {
      top: 1120px;
      left: 120px;
      width: 200px;
      height: 200px;
      background-image: url(../images/buble-3.png);
      animation: move-buble 9s infinite ease-in-out;
    }

    &--fourth {
      top: 1300px;
      left: 1160px;
      width: 80px;
      height: 80px;
      background-image: url(../images/buble-2.png);
      animation: move-buble 7s infinite ease-in-out;
    }

    &--fifth {
      top: 1500px;
      left: 1000px;
      width: 300px;
      height: 600px;
      background-image: url(../images/buble-4.png);
      animation: move-buble 14s infinite ease-in-out;
    }

    &--sixth {
      top: 1780px;
      left: 120px;
      width: 220px;
      height: 210px;
      background-image: url(../images/buble-1.png);
      animation: move-buble 9s infinite ease-in-out;
    }
  }

  @keyframes move-buble {
    from {
      transform: scale(100%) rotate(0deg);
    }
    50% {
      transform: scale(90%) rotate(-10deg);
    }
    to {
      transform: scale(100%) rotate(0deg);
    }
  }

  &__content {
    position: relative;
    width: 100%;
  }

  &__image {
    width: 500px;
    height: 579px;

    @media (max-width: 1130px) {
      width: 100%;
      height: auto;
    }
  }

  &__item {
    position: absolute;

    @media (max-width: 1130px) {
      width: 45vw;
    }

    @media (max-width: 800px) {
      width: 85%;
    }

    &--first {
      top: 70px;
      left: 70px;
      z-index: 2;

      @media (max-width: 1130px) {
        top: 0px;
        left: 20px;
      }

      @media (max-width: 800px) {
        top: 0px;
        left: 5px;
      }
    }

    &--second {
      top: 470px;
      left: 280px;
      z-index: 3;

      @media (max-width: 1130px) {
        top: 35vw;
        left: 40px;
      }

      @media (max-width: 800px) {
        top: 110vw;
        left: 5px;
      }
    }

    &--third {
      top: 130px;
      right: 70px;
      z-index: 2;

      @media (max-width: 1130px) {
        top: 70px;
        right: 40px;
      }

      @media (max-width: 800px) {
        top: 55vw;
        right: 5px;
      }
    }

    &--fourth {
      top: 800px;
      right: 150px;
      z-index: 4;

      @media (max-width: 1130px) {
        top: 42vw;
        right: 20px;
      }

      @media (max-width: 800px) {
        top: 165vw;
        right: 5px;
      }
    }

    &--fifth {
      top: 830px;
      left: 70px;
      z-index: 5;

      @media (max-width: 1130px) {
        top: 68vw;
        left: 20px;
      }

      @media (max-width: 800px) {
        top: 220vw;
        left: 5px;
      }
    }

    &--sixth {
      top: 1160px;
      right: 340px;
      z-index: 6;

      @media (max-width: 1130px) {
        top: 77vw;
        right: 40px;
      }

      @media (max-width: 800px) {
        top: 275vw;
        right: 5px;
      }
    }
  }
}
