.testimonial {
  background-color: $colorBlue;

  &__wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 40px;
    text-align: center;
    font-family: "SK Cuber Expanded Rounded Outline", serif;
    font-size: 100px;
    font-weight: 400;
    color: $colorRose;
  }

  &__text {
    text-align: center;
    font-family: "Ubuntu", Arial;
    font-size: 22px;
    color: $colorRose;
  }
}
