@font-face {
    font-family: 'Blackest Text Trial';
    src: url('BlackestTextTrial-Bold.eot');
    src: local('Blackest Text Trial Bold'), local('BlackestTextTrial-Bold'),
        url('BlackestTextTrial-Bold.eot?#iefix') format('embedded-opentype'),
        url('BlackestTextTrial-Bold.woff2') format('woff2'),
        url('BlackestTextTrial-Bold.woff') format('woff'),
        url('BlackestTextTrial-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Blackest Trial';
    src: url('BlackestTrial-ExtraBold.eot');
    src: local('Blackest Trial ExtraBold'), local('BlackestTrial-ExtraBold'),
        url('BlackestTrial-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('BlackestTrial-ExtraBold.woff2') format('woff2'),
        url('BlackestTrial-ExtraBold.woff') format('woff'),
        url('BlackestTrial-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Blackest Trial';
    src: url('BlackestTrial-Bold.eot');
    src: local('Blackest Trial Bold'), local('BlackestTrial-Bold'),
        url('BlackestTrial-Bold.eot?#iefix') format('embedded-opentype'),
        url('BlackestTrial-Bold.woff2') format('woff2'),
        url('BlackestTrial-Bold.woff') format('woff'),
        url('BlackestTrial-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Blackest Trial';
    src: url('BlackestTrial-Regular.eot');
    src: local('Blackest Trial Regular'), local('BlackestTrial-Regular'),
        url('BlackestTrial-Regular.eot?#iefix') format('embedded-opentype'),
        url('BlackestTrial-Regular.woff2') format('woff2'),
        url('BlackestTrial-Regular.woff') format('woff'),
        url('BlackestTrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Blackest Trial';
    src: url('BlackestTrial-Regular_1.eot');
    src: local('Blackest Trial Regular'), local('BlackestTrial-Regular'),
        url('BlackestTrial-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('BlackestTrial-Regular_1.woff2') format('woff2'),
        url('BlackestTrial-Regular_1.woff') format('woff'),
        url('BlackestTrial-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Blackest Text Trial';
    src: url('BlackestTextTrial-Regular.eot');
    src: local('Blackest Text Trial Regular'), local('BlackestTextTrial-Regular'),
        url('BlackestTextTrial-Regular.eot?#iefix') format('embedded-opentype'),
        url('BlackestTextTrial-Regular.woff2') format('woff2'),
        url('BlackestTextTrial-Regular.woff') format('woff'),
        url('BlackestTextTrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Blackest Trial';
    src: url('BlackestTrial-Light.eot');
    src: local('Blackest Trial Light'), local('BlackestTrial-Light'),
        url('BlackestTrial-Light.eot?#iefix') format('embedded-opentype'),
        url('BlackestTrial-Light.woff2') format('woff2'),
        url('BlackestTrial-Light.woff') format('woff'),
        url('BlackestTrial-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Blackest Trial';
    src: url('BlackestTrial-Heavy.eot');
    src: local('Blackest Trial Heavy'), local('BlackestTrial-Heavy'),
        url('BlackestTrial-Heavy.eot?#iefix') format('embedded-opentype'),
        url('BlackestTrial-Heavy.woff2') format('woff2'),
        url('BlackestTrial-Heavy.woff') format('woff'),
        url('BlackestTrial-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

