@import "utils";
@import "fonts";
@import "typography";

@import "./blocks/header.scss";
@import "./blocks/about.scss";
@import "./blocks/price.scss";
@import "./blocks/testimonial.scss";
@import "./blocks/order.scss";
@import "./blocks/footer.scss";

html {
  scroll-behavior: smooth;
}

body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: $colorRose;
  font-family: "Blackest Text Trial", sans-serif;
  color: $colorWhite;
}
