@import "utils";
@import "fonts";
@import "typography";

@import "./blocks/menu.scss";
@import "./blocks/header.scss";
@import "./blocks/about.scss";
@import "./blocks/price.scss";
@import "./blocks/testimonial.scss";
@import "./blocks/order.scss";
@import "./blocks/footer.scss";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.body {
  position: relative;
  background: $colorRose;
  font-family: "Blackest Text Trial", sans-serif;
  color: $colorWhite;

  &--with-menu {
    overflow: hidden;
  }
}

.buttons {
  display: none;
  gap: 20px;
  margin: 0 30px;
  padding: 0 40px;
  align-items: center;
  background-color: $colorWhite;
  border-radius: 45px;

  @media (max-width: 710px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
  }
}
